@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>

<br>
<br>

<form asp-action="Create">


    <partial name="PartialViews/CreateEditEmployeePartial" />


    <input type="submit" value="Create" class="btn btn-primary"></input>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Backe To list</a>
</form>

@section ValidationsScriptsSection{

    <partial name="_ValidationScriptsPartial" />
}

