@model Employee
@{
    ViewData["Title"] = "Edit Employee";
}

<h1>Edit Employee</h1>


<br />
<br />

<form asp-action="Edit" class="mt-5">

    <div asp-asp-validation-summary="All" class="text-danger"></div>

    <partial name="PartialViews/CreateEditEmployeePartial" />

    <input type="submit" value="Save" class="btn btn-primary"></input>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Cancel</a>


</form>



@section ValidationsScriptsSection {

    <partial name="_ValidationScriptsPartial" />
}
