<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <link href="~/css/AuthStyle.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
   @RenderBody()
</body>
</html>
